@import url('header.css');
@import url('../sections/section-card.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Fontes */
    --font-body: 'Open Sans', sans-serif;
    --font-title: 'Montserrat Alternates', sans-serif;

    /* Cores */
    --color-bg-header: rgba(30, 58, 138, 0.68);
    --color-bg-ligth-body: rgb(240, 248, 255);
    --color-bg-darker-body: rgb(206, 228, 255);
    --color-blue-darker: rgba(30, 58, 138);
    --color-link-menu: rgb(2, 221, 255);
    --color-text-ligth-grey: rgb(238, 247, 255);
    --color-text-darker-grey: rgb(41, 47, 58);
}

.lists {
    list-style: none;
    padding-left: 0;
}

.lists li {
    position: relative;
    padding-left: 1.8rem;
    margin-bottom: 0.8rem;
    font-size: clamp(0.95rem, 2vw, 1.1rem);
}

.lists li::before {
    content: "✔️";
    position: absolute;
    left: 0;
    top: 0;
}

.contrast {
    font-size: 25px !important;
    font-weight: bold;
    font-style: oblique;
}

@media (max-width: 1068px) {
    .lists li {
        text-align: left;
    }
}