@import url('header.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Fontes */
    --font-body: 'Open Sans', sans-serif;
    --font-title: 'Montserrat Alternates', sans-serif;

    /* Cores */
    --color-bg-header: rgba(30, 58, 138, 0.68);
    --color-link-menu: rgb(2, 221, 255);
    --color-text-ligth-grey: rgb(238, 247, 255);
}