#section-our-solution {
    background-image: url('../../imgs/our-solution/imagem-alagamento-bombeiros.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: clamp(700px, 70vh, 700px);
    padding: clamp(80px, 10vh, 120px) 35px 35px;
    color: var(--color-text-ligth-grey);
    display: flex;
    align-items: flex-end;
}

#section-our-solution h1 {
    margin-bottom: 1rem;
    font-family: var(--font-title);
    font-weight: lighter;
    font-size: clamp(2rem, 5vw, 4rem);
    max-width: 1000px;
}

#section-our-solution p {
    margin-bottom: 1rem;
    font-family: var(--font-body);
    font-size: clamp(1rem, 2vw, 1.25rem);
    max-width: 1200px;
    text-align: justify;
}

@media (max-width: 768px) {
    #section-our-solution {
        padding: clamp(60px, 15vh, 80px) 20px 20px;
        height: clamp(700px, 50vh, 500px);
    }

    #section-our-solution h1 {
        font-size: clamp(1.8rem, 6vw, 2.5rem);
        max-width: 100%;
    }

    #section-our-solution p {
        font-size: clamp(1rem, 3vw, 1rem);
        max-width: 90%;
    }
}
