#section-our-target-audience {
    background-color: var(--color-bg-darker-body);
    color: var(--color-text-darker-grey);
}
.target-audience-container {
    background-color: var(--color-bg-ligth-body);
}